.profileWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    padding: 13px;
}

.profileImg {
    width: 5vh;
    border-radius: 50%;
    grid-column: 1/5;
}

.displayedUsername {
    align-self: center;  
    grid-column: 7/11; 
}

.profileDropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    padding: 12px 16px;
    z-index: 10;
    margin-top: 60px;
}

.profileWrapper:hover .profileDropdown {
    display: block;
}

.profileDropdown a {
    display: block;
    cursor: pointer;
    padding: 10px;
}